@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #06bcf9;
  --color-primary-dim: rgba(6, 188, 249, 0.1);
  --color-accent-lime: #a3e635;
  --color-accent-amber: #f59e0b;
  --color-background-light: #f5f8f8;
  --color-background-dark: #0f1214;
  --color-surface-dark: #181c20;
  --color-surface-darker: #121518;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-space);
}

.scanlines-overlay {
  background-size: 100% 4px;
  pointer-events: none;
}

.glitch-text:hover {
  text-shadow: 2px 0 #06bcf9, -2px 0 #f59e0b;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f1214;
}

::-webkit-scrollbar-thumb {
  background: #2f353a;
}

::-webkit-scrollbar-thumb:hover {
  background: #06bcf9;
}

.clip-corner {
  clip-path: polygon(0 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%);
}